*/obj*
*/bin
*/**/obj*
*/**/bin
Components
Packages
**/*.orig
*.sln.*
*.bak
*/*.bak
*.userprefs
.droidres
.vs/
TestResult.xml
build/artifacts/
build/tools/
!build/tools/packages.config
*.orig
.idea
.mfractor