*/obj
*/bin
*/**/obj
*/**/bin
*/**/Resource.designer.cs
*/**/**/Resource.designer.cs
*Droid/Resources/*.cs
Components
Packages
**/*.orig
*.sln.*
*.bak
*/*.bak
*.userprefs
.droidres
.vs/
TestResult.xml
build/artifacts/
build/tools/
*.orig