<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChilliSource.Core.Extensions" version="1.0.4" targetFramework="monoandroid71" />
  <package id="ChilliSource.Mobile.Core" version="1.0.1" targetFramework="monoandroid71" />
  <package id="ChilliSource.Mobile.Location" version="1.0.0" targetFramework="monoandroid71" />
  <package id="ChilliSource.Mobile.Media" version="1.0.0-alpha0564" targetFramework="monoandroid71" />
  <package id="ChilliSource.Mobile.Security" version="1.0.0-alpha0564" targetFramework="monoandroid71" />
  <package id="Com.Airbnb.Android.Lottie" version="1.0.0.7" targetFramework="MonoAndroid60" />
  <package id="Humanizer.Core" version="2.1.0" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid71" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid71" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid71" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid71" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid71" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid71" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="MonoAndroid60" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms.Maps" version="2.3.4.231" targetFramework="MonoAndroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Maps" version="42.1001.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1001.0" targetFramework="monoandroid71" />
</packages>