<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChilliSource.Mobile.Core" version="1.0.1" targetFramework="xamarinios10" />
  <package id="ChilliSource.Mobile.Logging" version="1.0.0" targetFramework="xamarinios10" />
  <package id="DynamicData" version="4.10.1.1194" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Mindscape.Raygun4Net" version="5.4.0" targetFramework="xamarinios10" />
  <package id="reactiveui" version="7.2.0" targetFramework="xamarinios10" />
  <package id="reactiveui-core" version="7.2.0" targetFramework="xamarinios10" />
  <package id="reactiveui-events" version="7.2.0" targetFramework="xamarinios10" />
  <package id="reactiveui-events-xamforms" version="7.2.0" targetFramework="xamarinios10" />
  <package id="reactiveui-xamforms" version="7.2.0" targetFramework="xamarinios10" />
  <package id="Rx-Core" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Main" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Serilog" version="2.4.0" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.Console" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Splat" version="1.4.0" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Console" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="xamarinios10" />
</packages>